# --- ANGULAR / NODE (Adicionado agora) ---
node_modules/
dist/
.angular/
.sass-cache/
connect.lock
coverage/
lib/
npm-debug.log
testem.log
/reports

# --- JAVA / SPRING BOOT ---
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class

# --- IDEs (VSCode, IntelliJ, Eclipse) ---
.idea
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
bin/

# --- BANCO DE DADOS & ARQUIVOS LOCAIS ---
/data
*.log
