# --- FRONT-END (Angular/Node) ---
node_modules/
dist/
.angular/
.sass-cache/
connect.lock
coverage/
lib/
npm-debug.log
testem.log

# --- BACK-END (Java/Maven) ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.log
log.txt

# --- IDEs e S.O. ---
.idea
.vscode/
*.iws
*.iml
*.ipr
.DS_Store
Thumbs.db

# --- BANCO DE DADOS LOCAL ---
/data
*.db
