main {
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about-platform {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;

    .carrossel {
        width: 100%;
        height: 90%;

        h1 {
            color: var(--blue);
        }

        .card {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }

    .carrossel-step {
        display: flex;
        gap: var(--small);
        padding: var(--medium) 0;

        .circle {
            width: var(--small);
            height: var(--small);
            border-radius: var(--medium);
            background-color: var(--foreground);
            opacity: 0.3;


            &.focus {
                opacity: 0.6;
            }
        }
    }
}

.form-container {
    display: flex;
    flex-flow: column;
    height: 100dvh;
    justify-content: start;
    align-items: center;
    border-left: 1px solid var(--gray);
    background-color: var(--white);

    .bg-yellow-wave {
        background-image: url("/logo_white.svg"), url("/bg_yellow_wave.svg");
        background-size: 50px, 80%;
        background-position-y: 0, -15px;
        background-repeat: repeat, repeat-x;
        opacity: 0.75;
        width: 100%;
        height: 110px;
    }

    h1 {
        font-size: var(--high-text);
        opacity: 0.75;
    }

    form {
        width: var(--most-high-percent);
        padding: var(--medium);
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: var(--medium);

        input {
            background-color: var(--white);
        }

        .forgot-password-container {
            width: var(--high-percent);
            display: flex;
            justify-content: end;
        }
    }
}