* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.global-toast-container {
    position: fixed;
    z-index: 99;
    right: 0;
}

@media screen and (max-width: 700px) {
    .global-toast-container {
        width: 100dvw;
    }
}