<main *ngIf="profile">
  <header class="pattern-header">
    <div *ngIf="!isEditing && ownProfile" class="header-actions">
      <!-- <a [routerLink]="['/contracts']" class="action-chip white"><span class="ph ph-file-text"></span> Contratos</a> -->

      <button class="action-chip white" (click)="toggleEdit()" *ngIf="!isEditing">
        <span class="ph ph-pencil"></span> Editar
      </button>

      <a [routerLink]="['/verification']" class="action-chip white">Verificar perfil</a>

      <a [routerLink]="['/logout']" class="action-chip white">Sair da conta</a>
    </div>
  </header>

  <section class="profile-content">
    <div class="avatar-wrapper">
      <img
        [src]="profile.avatarUrl ?? 'logo.svg'"
        alt="Profile" 
      />
      <label for="profile-image" class="camera-btn" *ngIf="isEditing"><span class="ph ph-fill ph-camera"></span></label>
      <input id="profile-image" style="display: none;" name="profile-image" (change)="changeImage($event)" type="file">
    </div>

    <div class="main-info">
      <h2 *ngIf="!isEditing">{{ profile.name }}</h2>
      <input *ngIf="isEditing" [(ngModel)]="editForm.name" class="edit-input name-input" />
      <p *ngIf="!isEditing" class="email">{{ profile.email ?? "*Clique em editar para adicionar email" }}</p>
      <input *ngIf="isEditing" [(ngModel)]="editForm.email" class="edit-input name-input" />
    </div>

    <div class="stats-row">
      <div class="stat">
        <span class="value"
          ><span class="ph ph-fill ph-star star"></span>
          {{ profile.rating ?? 0 | number : '1.1-1' }}</span
        >
        <span class="label">Avaliação</span>
      </div>
      <div class="divider"></div>
      <div class="stat">
        <span class="value">{{ profile.needsCount ?? profile.needs.length ?? 0 }}</span>
        <span class="label">Necessidades</span>
      </div>
      <div class="divider"></div>
      <div class="stat">
        <span class="value">{{ profile.servicesCount ?? 0 }}</span>
        <span class="label">Prestações</span>
      </div>
    </div>

    <div class="location-status">
      <div class="loc-info">
        <span class="ph-fill ph-map-pin"></span>
        <span *ngIf="!isEditing">{{ profile.neighborhood ?? "*Clique em editar para adicionar localização" }}</span>
        <input *ngIf="isEditing" [(ngModel)]="editForm.neighborhood" class="edit-input" />
      </div>

      <button
        *ngIf="!isEditing"
        class="status-badge"
        [class.available]="profile.status === 'AVAILABLE'"
        [class.busy]="profile.status != 'AVAILABLE'"
        (click)="openCalendar()"
      >
        {{ profile.status === 'AVAILABLE' ? 'Disponível' : 'Indisponível' }}
        <span *ngIf="ownProfile" class="ph-fill ph-gear"></span>
      </button>
    </div>

    <div class="section">
      <h3>Sobre mim</h3>
      <p *ngIf="!isEditing">{{ profile.biography ?? "*Clique em editar para adicionar biografia"}}</p>
      <textarea *ngIf="isEditing" [(ngModel)]="editForm.biography" rows="3" class="edit-input"></textarea>
    </div>
    <div class="section">
      <h3>Habilidades</h3>
      <div class="skills-container">
        @if(!profile.skills.length){
          <span>Sem habilidades registradas.</span>
        }

        @for (skill of profile.skills; track $index) {
          <span class="skill" (click)="removeSkill($index)" ><span [class.ph-tag]="!isEditing" [class.ph-x]="isEditing" class="ph"></span> {{ skill }}</span>
        }

        <button *ngIf="isEditing && !isAddSkill" (click)="toggleAddSkill()" class="add-skill">+</button>

      </div>
      <div *ngIf="isAddSkill" class="container-add-skill">
        <input id="add-skill" placeholder="Habilidade" [(ngModel)]="addSkillContent" type="text">
        <div class="container-add-skill-options">
          <button (click)="toggleAddSkill()" class="primary cancel">Cancelar</button>
          <button (click)="addSkillSave()" class="primary">Adicionar</button>
        </div>
      </div>
    </div>

    <div class="section">
      <h3>Minhas Necessidades</h3>
      @if(!profile.needs){
          <span>Sem necessidades registradas.</span>
      }
      @for (item of profile.needs; track item.id) {
      <app-needcard
        [id]="item.id"
        [nick]="item.contractorNick"
        [avatarUrl]="item.contractorAvatar"
        [name]="item.contractorName"
        [isVerified]="item.isVerified"
        [price]="item.price"
        [title]="item.title"
        [address]="item.address"
        [description]="item.description"
        [images]="item.images"
      />
      }
    </div>
  </section>

  <footer *ngIf="isEditing" class="bottom-edit-options">
    <button class="primary cancel" (click)="cancel()">Cancelar</button>
    <button class="primary" (click)="save()">Salvar</button>
  </footer>

  <app-navbar></app-navbar>

  <div class="modal-overlay" *ngIf="showCalendarModal && ownProfile">
    <div class="modal-card">
      <div class="modal-header-row">
        <h3>Minha Disponibilidade</h3>
        <button class="close-btn" (click)="closeCalendar()">✕</button>
      </div>

      <div
        class="global-status-box"
        [class.busy]="tempStatus === 'BUSY'"
        (click)="toggleGlobalStatus()"
      >
        <div class="status-info">
          <span class="label">Status Geral</span>
          <span class="status-text">{{
            tempStatus === 'AVAILABLE' ? 'Disponível para trabalho' : 'Indisponível (Férias/Folga)'
          }}</span>
        </div>
        <div class="toggle-switch">
          <div class="switch-ball"></div>
        </div>
      </div>

      <div class="calendar-wrapper" [class.disabled]="tempStatus === 'BUSY'">
        <div class="calendar-nav">
          <button (click)="changeMonth(-1)">‹</button>
          <span>{{ currentDate | date : 'MMMM yyyy' }}</span>
          <button (click)="changeMonth(1)">›</button>
        </div>

        <div class="weekdays-grid">
          @for (d of weekDays; track $index) {
          <span>{{ d }}</span>
          }
        </div>

        <div class="days-grid">
          @for (item of calendarDays; track $index) {
          <div
            class="day-cell"
            [class.empty]="!item.day"
            [class.blocked]="item.fullDate && tempBlockedDates.includes(item.fullDate!)"
            (click)="toggleDate(item.fullDate)"
          >
            {{ item.day }}
          </div>
          }
        </div>

        <div class="legend"><span class="dot red"></span> Dias bloqueados</div>
      </div>

      <button class="save-agenda-btn" (click)="saveAvailability()">Salvar Alterações</button>
    </div>
  </div>
</main>
