<main>
    <div class="top-bar">
        <div class="search-box">
            <span class="search-icon">🔍</span>
            <input 
                type="text" 
                [placeholder]="activeTab === 'NEEDS' ? 'Buscar vagas...' : 'Buscar prestadores (ex: Pedreiro)'" 
                [(ngModel)]="searchTerm"
                (input)="onSearch()">
            <span *ngIf="searchTerm" (click)="searchTerm=''; onSearch()" class="clear-btn">✕</span>
        </div>

        <div class="tabs">
            <button 
                class="tab-btn" 
                [class.active]="activeTab === 'PROVIDERS'"
                (click)="switchTab('PROVIDERS')">
                Prestadores
            </button>
            <button 
                class="tab-btn" 
                [class.active]="activeTab === 'NEEDS'"
                (click)="switchTab('NEEDS')">
                Necessidade
            </button>
        </div>

        <button *ngIf="activeTab === 'NEEDS'" class="publish-btn" (click)="goToPublish()">
            <span class="icon">📄</span> Publicar Necessidade
        </button>
    </div>

    <section class="feed-container">
        
        @if (activeTab === 'PROVIDERS') {
            @for (provider of providers; track provider.id) {
                <div class="provider-card">
                    <div class="card-header">
                        <div class="user-info">
                            <img [src]="provider.avatarUrl" class="avatar">
                            <div class="text-info">
                                <span class="name">
                                    {{ provider.name }}
                                    <img *ngIf="provider.isVerified" src="/icons/sucess.svg" width="12">
                                </span>
                                <div class="rating">⭐ {{ provider.rating }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="location">📍 {{ provider.location }}</div>

                    <div class="skills">
                        @for (skill of provider.skills; track $index) {
                            <span class="tag">🏷️ {{ skill }}</span>
                        }
                    </div>

                    <div class="card-footer">
                        <button class="icon-btn">🤍</button>
                        <button class="icon-btn chat-btn" (click)="openChat(provider.id)">💬</button>
                    </div>
                </div>
            }

            @if (providers.length === 0) {
                <div class="empty-state">Nenhum prestador encontrado.</div>
            }
        }

        @if (activeTab === 'NEEDS') {
            @for (item of opportunities; track item.id) {
                <div class="opportunity-card">
                    <div class="card-header">
                        <div class="user-info">
                            <img [src]="item.contractorAvatar" class="avatar">
                            <span class="name">{{ item.contractorName }}</span>
                        </div>
                        <span class="price">{{ item.price | currency:'BRL' }}</span>
                    </div>
                    <h3 class="card-title">{{ item.title }}</h3>
                    <div class="location">📍 {{ item.location }} <span class="time">• {{ item.timePosted }}</span></div>
                    <div class="description"><p>{{ item.description }}</p></div>
                    <div class="card-footer">
                        <button class="icon-btn">🤍</button>
                        <button class="icon-btn chat-btn" (click)="openChat(item.id)">💬 Tenho Interesse</button>
                    </div>
                </div>
            }
            @if (opportunities.length === 0) {
                <div class="empty-state">Nenhuma vaga encontrada.</div>
            }
        }

    </section>

    <nav class="bottom-nav">
        <button class="nav-item active" (click)="goToHome()">
            🏠
        </button>
        
        <button class="nav-item" (click)="goToSearch()">
            🔍
        </button>
        
        <button class="nav-item" (click)="goToChatList()">
            💬
        </button>
        
        <button class="nav-item" (click)="goToProfile()">
            👤
        </button>
    </nav>
</main>