main {
  display: flex;
  flex-flow: column;
  padding: var(--high);
  gap: var(--high);
}

.top-bar {
  display: flex;
  flex-flow: column;
  gap: var(--medium);
  background-color: var(--background);
  width: 100%;
  .primary {
    width: 100%;
  }
}

.container-profile-search-box {
  display: flex;
  width: 100%;
  gap: var(--medium);
  justify-content: center;
  align-items: center;

  .profile {
    width: var(--medium-image);
    border: 1px solid var(--gray);
    border-radius: 100%;
    background-color: var(--white);
  }
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: var(--high);
  transition: border 0.2s;
  box-shadow: 0 0 10px #0001;
  padding-left: var(--medium);
  gap: var(--small);

  &:focus-within {
    border-color: var(--foreground);
  }

  .icon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: var(--most-high);
    cursor: pointer;
  }
}

.search-box input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: var(--medium);
  font-family: inherit;
}

.feed-container {
  display: flex;
  flex-flow: column;
  gap: var(--high);
  padding-bottom: calc(var(--container-size) - var(--medium));
}
