/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    /* LIGHT COLORS */
    --background: #F3F4Fa;
    --foreground: #1C1C1C;
    --white: #fff;

    --yellow: #FFDE63;
    --orange: #FFBC4C;
    --green: #1AB142;
    --blue: #799EFF;
    --red: #FF3737;
    --gray: #1c1c1c30;

    /* SIZES */
    --small: 5px;
    --medium: 15px;
    --high: 20px;
    --most-high: 40px;

    --small-image: 25px;
    --medium-image: 50px;
    --high-image: 100px;

    --container-size: 70px;

    --small-percent: 40%;
    --medium-percent: 60%;
    --high-percent: 80%;
    --most-high-percent: 90%;

    --small-text: 12px;
    --medium-text: 16px;
    --high-text: 24px;
    --most-high-text: 32px;

    /* TIMES */
    --small-time: 0.1s;
    --medium-time: 0.2s;
    --high-time: 0.4s;

    background-color: var(--background);
    font-size: var(--medium-text);
}

h1 {
    font-size: clamp(var(--small-text), 5dvw, var(--most-high-text));
}

h2 {
    font-size: clamp(var(--small-text), 4dvw, var(--high-text));
}

p,
span,
a {
    font-size: clamp(var(--small-text), 2dvw, var(--medium-text));
}

input {
    font-size: var(--medium-text);
    padding: var(--medium);
    border-radius: var(--high);
    border: 1px solid var(--foreground);
    width: var(--high-percent);
    background-color: var(--background);
    transition: var(--small-time) ease-in;
    outline: none;

    &:focus {
        border: 1px solid var(--blue);
    }

    &.invalid {
        border: 1px solid var(--red);
    }
}

button {
    display: flex;
    font-size: var(--medium-text);
    cursor: pointer;
    transition: var(--medium-time) ease-in;
    justify-content: center;
    align-items: center;
    gap: var(--small);

    &.primary {
        padding: var(--medium);
        border-radius: var(--high);
        border: none;
        background-color: var(--blue);
        color: var(--background);
        box-shadow: inset 0 -4px 4px #1C1C1C50;
        width: var(--high-percent);
    }

    &.deactivate {
        opacity: 0.5;
    }
}

a {
    text-decoration: none;

    &.primary {
        color: var(--blue);
    }

    &.secondary {
        color: var(--foreground);
    }
}

.icon{
    font-size: var(--medium-text);
}