@keyframes show {
    0% {
        translate: 0 -20px;
    }

    5% {
        translate: 0px;
        opacity: 1;
    }

    95% {
        translate: 0px;
        opacity: 1;
    }

    100% {
        translate: 0 -20px;
        opacity: 0;
    }
}

@keyframes progress-bar {
    0% {
        width: 0;
    }
    90% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

.toast-container {
    animation-play-state: running;
    background-color: var(--background);
    margin: var(--small);
    border-radius: var(--small);
    border: 1px solid var(--foreground);
    animation-name: show;
    animation-duration: 3s;
    animation-iteration-count: 1;
    overflow: hidden;
    opacity: 0;

    &.sucess{
        --progress-bar-color: var(--green)
    }
    &.warning{
        --progress-bar-color: var(--yellow)
    }
    &.error{
        --progress-bar-color: var(--red)
    }
    
    .content-container {
        padding: var(--medium);
        display: flex;
        flex-flow: row;
        gap: var(--medium);
    }

    .progress-bar {
        height: var(--small);
        width: 0;
        background-color: var(--progress-bar-color);
        animation-name: progress-bar;
        animation-duration: 3s;
        filter: brightness(0.95);
        animation-timing-function: linear;
    }
}